


.content {
  
  background-size: 100%;
  background-repeat: no-repeat;

}



   
.newMenuContainer{
  width: 100%;
  min-width: 100%;
  background-color: white;
  height: 100px;

  display: flex;
  font-family: 'Copperplate'; 
  font-size: 24px;
}



.newMenuItemIcon{
  max-height: 50%;
}

.newMenuItem{
  display: flex;
  width: 15%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content:center;
  color: white;
  align-items: center;
  font-family: '8BIT WONDER', sans-serif;
}



.generalData{
  display: flex;
  justify-content: space-evenly;
}












