@import url('https://fonts.cdnfonts.com/css/8bit-wonder');
.sortContainer{
    display: flex;
    justify-content: flex-end;
    top: 0px;
    align-items: center;
    background-color: #2c2c2f;
    padding-bottom: 5px;
}

.savebutton{
  height: 60%;
  margin-right: auto;
}

.sortSelectContainer{
    width:20%
}

@media (max-width: 1000px) {

  .sortSelectContainer{
    width:40% !important
}
}

.sortSelect{
    width:80%;
    color: black;
    font-weight: bold;
}

.selector{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    width:40%;
  }

  @media (max-width: 1000px) {

    .selector{
      width: 80% !important;;
    }
  
  }
  
  .selectorSelect{
    width:100%;
    color: black;
    font-weight: bold;
  
  }
  
  .legendLogo{
    width: 25px;
    height: 25px;
  }
  
  .selectAndTooltip{
    width:100%;
    margin-right: 10px;
    display: flex;
  }
  
  .selectTitle{
    margin-bottom: 0;
    display: flex;
  }
  
  
  .selectIcon{
    display: flex;
    align-items: center;
  }
  
  .selectIconImg{
    width: 25px;
      height: 25px;
      background: white;
      border: solid 1px;
      border-radius: 100%;
      padding: 3px;
      margin-left: 5px;
  }
  
  .selectorWrapper{
    width:100%;
    display: flex;
    justify-content: center;
  }

  .confetti{
    display: flex;
    justify-content: center;
  }

  .entry{
    background-color: #505050;
    width: 18%;
    margin: 5px;
    border-radius: 5px;
 
    position: relative;
    overflow: hidden;
  }

  @media (max-width: 600px) {

    .entry{
      width: 30% !important;
    }
  
  }

  @media (max-width: 400px) {

    .entry{
      width: 40% !important;
    }
  
  }

  .entryBorder1{
    border: 2px solid #aa5eff !important;
    box-shadow:  2px 2px #aa5eff;
  }

  .entryBorder4{
    border: 2px solid #01dddd !important;
    box-shadow:  2px 2px #01dddd;
  }

  .entryBorder3{
    border: 2px solid #0094fe !important;
    box-shadow:  2px 2px #0094fe;
  }

  .entryBorder2{
    border: 2px solid #e6f2fe !important;
    box-shadow:  2px 2px #e6f2fe;
  }

  .entryBorder0{
    border: 2px solid #55d8ec !important;
    box-shadow:  2px 2px #55d8ec;
  }

  
.entries{
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
}

.explain-logo{
  width: 25px;
  height: 25px;
}

.trainerImage{
  height: 80px;
}

.legend{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #777;
  
}

.legendButton{
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 0 0 0 0;
}

.legendButton:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white !important;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.hide {
  display: none;
}

  
.badgeContainer{
  width: 90%;
  background-color: #555;
  border: 1px black;
  border-radius: 15px;
  margin-bottom: 15px;

  padding-bottom: 20px;
  padding-left: 10px;
}

.badgearea{
  display: none;
  justify-content: center;
}

.badgeTitle{
  text-align: left;
  font-family: '8BIT WONDER', sans-serif;
  margin-bottom: 10px;
}

.badgeList{
  display: flex;
  justify-content: space-around;
}

.badge{
  aspect-ratio: 1/1;
  width : 10%;

}


